*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
input[type="checkbox"]{
    position: absolute;
    top: 0;
    z-index: -15;
}
label{
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: yellow;
}
.container{
    height: 100vh;
    width: 100%;
    background: red;
    display: flex;
}
.offcanvas{
    height: 100%;
    width: 10%;
    background-color: blue;
    transition: width 2s;
}

.main{
    height: 100%;
    width: 90%;
    background-color: green;
    transition: width 2s;
}

input#toggle-sidebar:checked ~ .container .offcanvas{
    width: 20%;
}
input#toggle-sidebar:checked ~ .container .main{
    width: 80%;
}


/* styles show how child elements appear */
h2, p{
    height: 80px;
    line-height: 80px;
    width: 90%;
    margin: 0 auto;
    background-color: orange;
    margin-top: 30px;
    text-align: center;
}